# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


/EAHS/bin/*
/EAHS/obj/*
/.vs/Supercharger/EAHS
/EAHS/obj/*
.vs/*
/EAHS/wwwroot/Patient/*
/EAHS/Properties/PublishProfiles
/EAHS/.config/dotnet-tools.json
/EAHS/appsettings.json
/EAHS/wwwroot/Uploads/*
/EAHS/wwwroot/web/*
/EAHS/wwwroot/Icons/flags/1x1
/EAHS/wwwroot/Icons/*
/EAHS/DTOS/Request/LocatorRequestDTO.cs
/EAHS/DTOS/Response/LocationResponseDTO.cs
/EAHS/DTOS/Response/LocatorResponseDTO.cs
/EAHS/Interfaces/Repositories/ILocationRepository.cs
/EAHS/Interfaces/Repositories/ILocatorRepository.cs
/EAHS/Mappers/LocationMappers.cs
/EAHS/Mappers/LocatorMapper.cs
/EAHS/Migrations/20221121085021_iMDT.cs
/EAHS/Migrations/20221121085021_iMDT.Designer.cs
/EAHS/Migrations/20221121091051_iMDTDb.cs
/EAHS/Migrations/20221121091051_iMDTDb.Designer.cs
/EAHS/Migrations/20221122091800_iMDTDbs.cs
/EAHS/Migrations/20221122091800_iMDTDbs.Designer.cs
/EAHS/Models/ZoneLocation.cs
/EAHS/Models/Zone.cs
/EAHS/Models/TagHardwareModel.cs
/EAHS/Models/TagAllocation.cs
/EAHS/Models/Tag.cs
/EAHS/Models/LocatorHardwareModel.cs
/EAHS/Models/Locator.cs
/EAHS/Models/Location.cs
/EAHS/Models/AssetZone.cs
/EAHS/Models/AssetTypeAllocation.cs
/EAHS/Models/AssetType.cs
/EAHS/Models/Asset.cs
/EAHS/Repositories/LocatorRepository.cs
/EAHS/Repositories/LocationRepository.cs
/EAHS/Services/LocatorServices.cs
/EAHS/Services/LocationServices.cs
/EAHS/appsettings.json
/EAHS/obj/Debug/net5.0
/EAHS/bin/Debug/net5.0
/EAHS/obj
/EAHS/appsettings.Development.json
/EAHS/wwwroot
/EAHS/wwwroot/logos
/EAHS/wwwroot.rar
/EAHS/wwwroot/images
/EAHS/wwwroot/images.rar
/EAHS/wwwroot/logos
/EAHS/bin/Release/net5.0
/EAHS/Properties/PublishProfiles
/appsettings.json
/EAHS/wwwroot/Uploads/user
/EAHS/wwwroot/Uploads/qualityAssurance
/EAHS/wwwroot/web/inventory
/EAHS/wwwroot/Uploads/shipment/returnDocument
/EAHS/wwwroot/Uploads/SOP
